@font-face {
  font-family: "BlackOpsOne";
  src: url('BlackOpsOne.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  src: url('NeueMachina.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background: #fafafa;
}

.controls {
  margin-bottom: 20px;
}

/* #template {
  display: none;
} */

.canvas {
  width: 900px;
  height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  background: url(test.png);
  overflow: hidden;
}

.canvas__block {
  display: grid;
  padding-top: 115px;
  padding-bottom: 115px;
  align-content: space-between;
}

.canvas__title {
  font-size: 130px;
  color: #871111;
  font-family: 'BlackOpsOne';
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
}

.canvas__desc {
  font-size: 35px;
  color: #e5e6f1;
  display: grid;
  padding-left: 60px;
  padding-right: 100px;
}


.canvas__title-block {
  display: grid;
  padding: 30px;
  border-radius: 4px;
  background: linear-gradient(89deg, #f2eed6 0%, #f8f8ff 100%);
  position: relative;
  left: 30px;
}

.canvas__title-block::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border: 3px solid linear-gradient(89deg, #f2eed6 0%, #f8f8ff 100%);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}


#progress-bar {
  height: 20px;
  background: #4CAF50;
  width: 0%;
  transition: width 0.3s ease;
}

#log {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background: white;
}